{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Project List
{% endblock %}

{% block main %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Add a new project
			</h1>

			<div class="card mb-4">
				<div class="card-body">

					{{ include('project/_form.html.twig') }}

					<a href="{{ path('app_project_index') }}">back to list</a>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
